body{
    background-color: #2E2E2E;
}
.imageCorousal{
    width:50%;
    height: 50%;
    padding: 20px;
    margin: 20px auto;
}


.img{
    border-radius: 15px;
}

#prevButton, #nextButton{
    display: block;
    padding: 8px 12px;
    width: auto;
    overflow: hidden;
    text-align: center;
    /* vertical-align: middle; */
    outline: none;
    border-radius: 50%;
    cursor: pointer;
}

#prevButton:hover, #nextButton:hover {
    color: blue;
    background: white;
}

#prevButton {
    position: absolute;
    top: 30%;
    margin-left: 5px;
  }
  
  #nextButton {
    position: absolute;
    top: 30%;
    right: 34%;
    margin-right: 10px;
  }


